#title {

    background-color: black; 
    border-radius: 50px;
    height: 55px;
    width: 80%;
    overflow: auto;
    

}

#banner { 

    color: white;
    font-size: 30px;
    

}

#banner:hover {
 
    color: red;
    font-size: 30px;
    
}

#panel {overflow: auto; background-color: gray; opacity: 0.5; height: 800px; width: 95%; margin: 30px;}

