.title {background-color: black; color: white; border-radius: 50px; height: 70px; width: 80%; font-size: 30px; margin-left: 10%;}

.panel {background-color: gray; opacity: 0.5; height: 800px; width: 95%; margin: 30px;}

